.main-home-container {
    margin: 20px 100px;
}

.transaction-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px 1px #ccc;
    position: relative;
}
.heading1{
  color: white;
}

.transaction-amount {
    font-size: 30px;
    font-weight: bold;
}

.credit-amount {
    color: green;
}
.types-date-time{
    font-size: 24px;
}
.description{
    font-size: 23px;
}

.debit-amount {
    color: red;
}
.image-delete{
    width: 40px;
    position: absolute;
    right: 22px;
    bottom: 18px;
    box-shadow: 3px 3px 6px 2px gray;
    /* border-radius: 5px; */
}
.image-update{
    width: 39px;
    position: absolute;
    right: 90px;
    bottom: 18px;
    box-shadow: 3px 4px 6px 2px gray;
}

.transaction-category {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 27px;
}
.total{
 color: rgb(124, 43, 43);
}
.debit-text{
    color: rgb(232, 50, 110);
}


@media screen and (max-width: 668px){
    .types-date-time{
        font-size: 17px;
    }
    .transaction-category {
    top: 100px;
    left: 25px;
    font-size: 20px;
}
.description{
    font-size: 18px;
    position: relative;
    top:20px;
}
.image-update{
    width: 30px;
    right: 65px;
    cursor: pointer;
}
.image-delete{
    width: 32px;
    right: 15px;
    cursor: pointer;
}
}